{% extends 'base.html' %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<h1>Edit user</h1>
<form action="" method="post" name="edit">

    <table border="1">
        {% for user in users %}
                <tr>
               >
                        <td>username:</td>
                        <td>{{ render_field(user.username) }}</td>
                </tr>
        {% endfor %}
                <tr>
                        <td></td>
                        <td><input type="submit" value="Save Changes"></td>
                </tr>
    </table>
</form>

{% endblock %}