{% extends 'base.html' %}
{% block content %}
    this is memo page<br>
    <table border="1">
    <tr>
        <th>id</th>
        <th>待办事项</th>
        <th>办事日期</th>
        <th>创建日期</th>
        <th>登记人</th>
    </tr>
        {% for event in events %}
    <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.event }}</td>
        <td>{{ event.doevent_day }}</td>
        <td>{{ event.create_time }}</td>
        <td>{{ event.user_name }}</td>
    </tr>
    {% endfor %}
    </table>
<br>

    <p><a href="{{ url_for('addmemo') }}">Add Memo</a></p>

{% endblock %}

