{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        name:<input name="name" type="text" value="username" onClick="if (this.value=='username'){this.value=''}">
        password:<input name="password" type="password" value="password" onClick="if (this.value=='password'){this.value=''}">
        <button type="submit">提交</button>
    </form>
    <br>
    {% if form %}
    name:{{ form['name'] }}
    password:{{ form['password'] }}
    <br>
    {% endif %}
    <br>
    <form>
        <input type="radio" name="sex" value="male">Male <br/>
        <input type="radio" name="sex" value="female">Female
    </form>
    <br>
    <form>
        <input type="checkbox" name="bike">ride bike
        <input type="checkbox" name="car"> drive car
    </form>
{% endblock %}